*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    line-height: 62.5%; 
}

body{
    background-color: #ECE9FD;
    max-width: 375px;
    margin: auto;
    padding: 60px 20px;
    color: #090039;
}

main{
    display: flex;
    flex-direction: column;
}

main > div{
    display: flex;
    flex-direction: column;
}

.hero{
    gap: 16px;
}

.hero > h2{
    color: #7158EF;
    font-family: Epilogue;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem; 
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hero > h1{
    font-family: Epilogue;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.8rem;
}

.hero > p {
    font-family: Epilogue;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero > a{
    font-family: Epilogue;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;

    text-decoration: none;
    color:#090039;

    margin-top: 16px;
}

.hero > a:hover{
    color:rgb(29, 0, 192);
}

.servicos{    
    gap: 32px;
    margin-top: 75px;
}

.servico{
    height: 80px;
    display: flex;
    align-items: center;
}

.servico > span{
    width: 50px;
    font-family: Epilogue;
    font-size: 7.2rem;
    font-weight: 800;
}

.servico > p{
    font-family: Epilogue;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-left: 25px;
}

@media (min-width: 1024px) {
    body{
        max-width: fit-content;
    }

    main{
        flex-direction: row;
        gap: 120px;
        align-items: center;
    }

    main > div{    
        max-width: 485px;
    }

    .servico > p{
        margin-left: 55px;
    }
}

